@import url('./styles/_variables.scss');
@import url('./styles/_body_new.scss');
@import url('./styles/_front_new.scss');
@import url('./styles/_mixins.scss');



a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8px;
    text-decoration: none;
    font-weight: 900;
    color: black;
    line-height: 8px;
}

.secundary-anchor {
    line-height: 8px;
}

p {
    font-size: 8px;
}

li {
    list-style: none;
}

/* DISPLAYS */

.display-flex__row-c-c {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-flex__column-c-s {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 70px;
}


/* DIVISORS */
/* Divisor topics vertical */

.horizontal-section-divisor {
    width: 95%;
    height: 1px;
    background-color: rgb(163, 163, 163);
}

.vertical-topic-divisor {
    width: 1px;
    height: 10px;
    background-color: rgb(163, 163, 163);
    margin: 0 3px;
}

/* IMAGENES */

.img-new {
    width: 100%;
}

/* MAIN NEW */

.main-new__container {
    display: grid;
    grid-template-columns: 60% 40%;
}

.main-new__img-container {
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.main-new__details-container {
    display:flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    padding: 5px;
    min-height: 70px;
}

.main-new__tipics-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.main-new__img {
        width: 100%;
    }

/* Subtittles */

.subtittle__container {
    display: grid;
    grid-template-columns: repeat(3, 1/3 * 100%);
}

.subtittle__span {
    padding: 0px;
}


/* Body news vertical */

.body-news__container {
    display: grid;
    grid-template-columns: 60%;
    margin: 10px 0px;
}


.body-news__article-container {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
}


.body-news__details {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.body-news__topics-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

/* Body news horizontal */

.body-news-horizontal__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
}


/* Footer news */

.tittle {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-content: center;
}